.category-list {
    margin: 0 auto;
    max-width: 940px;
}

.category {
}

.category-content {
    margin: 1rem;
    border: 1px solid #E5E5E5;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #f8f9fa;
}

.category-title {
    flex-grow: 2;
    font-size: 2rem;
}

.category-title-editing {
    border: none;
    background: none;
}

.category-title-viewing {
    margin: 0;
}

.category-title-editing:focus {
    outline: none;
}

.category-controlbtn-item {
    background: none;
    font-size: 1.6rem;
    border: none;
}

.category-controlbtn-item:hover {
    background-color: #e2e6ea;
}

.category-controlbtn-item:focus {
    outline: none;
}

.category-ext-list {
    padding: 0;
}

.category-ext-list-viewing {
    display: flex;
}

.category-ext-item {
    display: flex;
    align-items: center;
}

.category-ext-check {
    width: 1.4rem;
    height: 1.4rem;
}

.category-ext-icon {
    width: 2rem;
    margin-left: 1rem;
    margin-right: .5rem;
}

.category-ext-label {
    font-size: 1.6rem;
    margin: 0;
}

.category-footerbtns {
    margin: 1rem;
}

.category-addbtn {
    padding: .5rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    background-color: #f8f9fa;
    border: 1px solid #E5E5E5;
    width: 100%;
}

.category-addbtn:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
